.info{
    margin: 0 auto;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.info h1{
    margin: 14 0px;
}

.info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.info h3{
    margin-top: 14px;
}

.info span{
    margin: 8px 0;
}

.area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 15px;
    border: 0;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    color: #8107f3;
    font-weight: bold;
    transition: all 0.5s;
}

.btn{
    padding: 12px;
}

.btn1{
    padding-top: 12px;
    padding-bottom: 12px;
}


.area-buttons button:hover{
    background-color: #8107f3;
    color: #fff;
}

.area-buttons a{
    text-decoration: none;
    color: #8107f3;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.area-buttons a:hover{
    color: #fff;
}